@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: linear-gradient(
    to bottom right,
    #fff7ed,
    #fffbeb,
    #fffdf4
  );
  color: #3f2a1d;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}